<h1> Cosmos Db Coches </h1>

<a asp-action="ListCoches" asp-controller="Cosmos">Ir a la lista</a>

<form method="post">
    <button type="submit" name="accion" value="iniciar" class="btn btn-info">Iniciar acciones CosmosDB</button>
</form>
<h1 style="color:blue">@ViewBag.Mensaje</h1>
